<div class="content">
  <p class="content-heading">{{application.student_name}}'s Application</p>
  <div class="cover-letter">
    <p class="content-heading">Cover Letter</p>
    <div [innerHTML]="application.cover_letter"></div>
  </div>
  <div class="verify">
    <app-verify
      [isAdmin]="true"
      [isComponent]="true"
      [student_id]="application.student_id"
    ></app-verify>
  </div>
  <div *ngIf="!isStudent" class="approve-btn">
    <button mat-button (click)="approve()">Approve Application</button>
  </div>
  <div *ngIf="isStudent">
    <button mat-button (click)="ok()">OK</button>
  </div>
</div>
