<div class="form-content">
  <p class="form-heading">Guardian info</p>

  <form [formGroup]="secondFormGroup">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="guardian_name" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Relation with Applicant</mat-label>
          <input matInput formControlName="guardian_relation" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Occupation</mat-label>
          <input matInput formControlName="guardian_occupation" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Gross Salary/Income</mat-label>
          <input matInput formControlName="gross_income" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Number of Earners</mat-label>
          <input matInput formControlName="number_of_earners" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Total Family Income</mat-label>
          <input matInput formControlName="total_income" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="guardian_contact" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Contact Number (Office)</mat-label>
          <input matInput formControlName="guardian_contact_office" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Monetary Assistance by Guardian</mat-label>
          <input
            matInput
            formControlName="guardian_monetry_assistance"
            required
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Residential Address</mat-label>
          <input
            matInput
            formControlName="guardian_residential_address"
            required
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <p class="form-subheading">List of Dependents on Guardian</p>
  </form>

  <div class="add-btn-div">
    <button mat-icon-button (click)="addDependent()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-grid-list cols="1" rowHeight="8:1">
    <div class="header-row">
      <div class="header-col">
        <p>Serial No.</p>
      </div>
      <div class="header-col">
        <p>Full Name</p>
      </div>
      <div class="header-col">
        <p>Relation</p>
      </div>
      <div class="header-col">
        <p>Age</p>
      </div>
      <div class="header-col">
        <p>Studying, Class/Job</p>
      </div>
      <div class="header-col">
        <p>Actions</p>
      </div>
    </div>
    <div
      *ngFor="let item of dependents_data; let i = index"
      class="content-row"
    >
      <ng-container *ngIf="!item.isEdit">
        <div class="content-col">
          <p>{{ i + 1 }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.name }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.relation }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.age }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.occupation }}</p>
        </div>
        <div class="content-col">
          <button mat-icon-button (click)="item.isEdit = !item.isEdit">
            <mat-icon>create_outline</mat-icon>
          </button>
          <button mat-icon-button (click)="removeDependent(i)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="item.isEdit">
        <div class="content-col">
          <p>{{ i + 1 }}</p>
        </div>
        <div class="content-col">
          <mat-form-field>
            <input class="dependents-input" matInput [(ngModel)]="item.name" />
          </mat-form-field>
        </div>
        <div class="content-col">
          <mat-form-field>
            <input
              class="dependents-input"
              matInput
              [(ngModel)]="item.relation"
            />
          </mat-form-field>
        </div>
        <div class="content-col">
          <mat-form-field>
            <input class="dependents-input" matInput [(ngModel)]="item.age" />
          </mat-form-field>
        </div>
        <div class="content-col">
          <mat-form-field>
            <input
              class="dependents-input"
              matInput
              [(ngModel)]="item.occupation"
            />
          </mat-form-field>
        </div>
        <div class="content-col">
          <button mat-icon-button (click)="item.isEdit = !item.isEdit">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </mat-grid-list>
  <!-- </article> -->
  <div class="buttons-div">
    <div class="next-btn">
      <button (click)="prevPage()" class="green-btn" mat-button>Back</button>
    </div>
    <div class="next-btn">
      <button (click)="nextPage()" class="green-btn" mat-button>Next</button>
    </div>
  </div>
</div>
