@import "../profile-completion/profile-completion.page.scss";

.content{
  background: #fff;
  padding: 24px 62px;
}

.step-btn{
  border: 0;
  font-size: 16px;
}

.heading-name {
  font-size: 40px;
  font-weight: 500;
  border-bottom: 1px solid black;
}
