<div class="scholarship-card">
    <div class="scholarship-content">
        <p class="scholarship-name">ABC SCHOLARSHIP</p>

        <p class="scholarship-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
    </div>

  <button mat-button class="apply-now-btn">Apply Now -></button>
</div>
