.scholarship-card {
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 32px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

  .scholarship-content {
    margin: 20px 68px;

    .scholarship-name {
      font-weight: 700;
      font-size: 34px;
      height: 72px !important;
      overflow: hidden;
      line-height: 36px;
      color: #1bb55e;
      margin-bottom: 10px;
    }

    .sponser {
      font-size: 20px;
      margin-bottom: 0px;
      height: 30px;
      .sub-text {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .apply-now-btn {
    background: #1bb55e;
    width: 520px;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #ffffff;
    border-top-right-radius: 40px;
    height: 85px !important;
    transition: width 1s;
  }

  .apply-now-btn:hover {
    width: 80%;
  }
}

@media only screen and (max-width: 660px) {
  .scholarship-card {
    .apply-now-btn {
      width: 80%;
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .scholarship-card {
    .scholarship-content {
      margin: 20px 34px;

      .scholarship-name {
        line-height: 24px;
        font-size: 24px;
      }

      .sponser {
        font-size: 16px;
        overflow: hidden;
        .sub-text {
          font-size: 16px;
        }
      }
    }

    .apply-now-btn {
      height: 45px;
      font-size: 24px;
      width: 80%;
    }
  }
}
