<div class="form-content">
  <p class="form-heading">Scholarship Details</p>
  <p class="upload-img-text">Upload Banner/Promotion Image:</p>
  <input type="file" (change)="onBannerImg($event)" hidden id="bannerfile" />
  <form [formGroup]="scholarshipDetailsFormGroup">
    <mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
      <mat-grid-tile [colspan]="span3" [rowspan]="4" class="banner-icon">
        <button class="pic-btn-width" (click)="changePicture()" mat-button>
          <img
            [src]="bannerImg == '' ? 'assets/images/bannerupload.png' : bannerImg"
            class="banner-img"
          />
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Scholarship Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Scholarship Type(Merit or Need)</mat-label>
          <mat-select formControlName="type" name="type">
            <mat-option value="merit_based">Merit Based</mat-option>
            <mat-option value="need_based">Need Based</mat-option>
            <mat-option value="international">International</mat-option>
            <mat-option value="national">National</mat-option>
            <mat-option value="scholarship_for_foreigner"
              >Scholarship for Foreigners</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Sponsor Name</mat-label>
          <input matInput formControlName="sponsor_name" required />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="form-field">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="due_date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="form-field">
      <p>Scholarship Description:</p>
      <angular-editor
        id="editor1"
        formControlName="description"
        [config]="editorConfig"
      ></angular-editor>
    </div>

    <div class="form-field">
      <p>Eligibility Criteria:</p>
      <angular-editor
        id="editor2"
        formControlName="criteria"
        [config]="editorConfig"
      ></angular-editor>
    </div>

    <div class="extra-feilds-div">
      
    </div>
  </form>
  <div class="submit-btn">
    <button (click)="submit()" class="green-btn" mat-button>
      Save and Post
    </button>
  </div>
</div>
