@import "/src/app/pages/student/profile-completion/first-form-page/first-form-page.component.scss";

.upload-img-text {
  font-size: 18px;
}
.banner-icon {
  margin: 6px;
  .banner-img {
    max-width: 1240px;
  }
}

.submit-btn {
  margin-top: 16px;
  button {
    height: 40px;
    width: 140px;
  }
}
