<div class="flexbox">
    <div class="heading">
        <h2>Feed Back</h2>
        <form action="">
            <div class="Name">
                <label for="userName">
                    <input type="text" matInput placeholder="Name" name="userName" id="userName">
                </label>
    
            </div>
            <div class="email">
                <label for="userEmail">
                    <input type="email"  matInput placeholder="Email" name="userEmail" id="userEmail">
                </label>
        
            </div>
            <div class="Text-area">
                <label for="userFeedback">
                    <input type="text"  matInput placeholder="Complains/Suggestions" name="userFeedback" id="userFeedback">
                </label>
            </div>
            <div class="button">
                <label for="sub">
                    <input type="submit" value="Submit" name="submit" id="sub">
                </label>
            </div>
        </form>
    </div>
    <div>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter Email" />
            <mat-hint>Enter your Cloud Email address</mat-hint>
        </mat-form-field>
    </div> -->