form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
}

#userName,
#userEmail,
#userFeedback {
  width: calc(40vw - 60px);
  height: 10vh;
  border: 2px solid #1bb55e;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 56px;
  background-color: transparent;
  padding: 0 30px;
}
#userFeedback {
  height: 35vh;
}
::placeholder {
  color: #1bb55e;
  font-family: "Roboto";
  font-size: 20px;
  margin-left: 5px;
  line-height: 38px;
  text-align: start;
}
#sub {
  width: 40vw;
  height: 50px;
  background-color: #1bb55e;
  color: #fff;
  border-radius: 8px;
}

.form-field {
  width: 40vw;
}

textarea {
  resize: none;
  height: 10em !important;
}

@media only screen and (max-width: 760px) {
  #userName,
  #userEmail,
  #userFeedback {
    height: 8vh;
    font-size: 16px;
  }
  #userFeedback {
    height: 26vh;
  }

  .form-field {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  #userName,
  #userEmail,
  #userFeedback {
    height: 6vh;
    font-size: 12px;
  }
  #userFeedback {
    height: 20vh;
  }

  .form-field {
    width: 100%;
  }
}

.button {
    margin-bottom: 16px;
}