<div class="flexbox">
  <div class="heading">
    <h2>Feed Back</h2>
    <form action="">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Name" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email" />
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Feedback</mat-label>
        <textarea
          class="Text-area"
          matInput
          placeholder="Enter Feedback"
        ></textarea>
      </mat-form-field>
      <div class="button">
        <button mat-button id="sub">Submit</button>
      </div>
    </form>
  </div>
</div>
