<div class="verify-content form-content">
  <p class="form-heading">Verify</p>
  <p class="form-heading">Documents</p>
  <p class="form-declaration">
    I hereby declare that the facts and figures entered in the application are
    correct to the best of my knowledge and I take full responsibility for
    correctness of the enteries made herein. The Awarding committee of the
    University can take any action against me if any of the entry in the
    application is found wrong and fake.
  </p>
  <mat-checkbox></mat-checkbox>

  <div class="form-review-box">
    <p class="form-heading">Particulars of Applicant</p>
  </div>
</div>
