@import "../profile-completion.page.scss";

.form-declaration{
  display: flex;
  width: 98%;
  align-items: baseline;
  p{
    font-size: 16px;
  }
  mat-checkbox{
    transform: translateY(60%);
  } 
}
