<div class="form-content">
    <p class="form-heading">Verify</p>
    <div class="form-declaration">
      <p>
        I hereby declare that the facts and figures entered in the application are correct
        to the best of my knowledge and I take full responsibility for correctness of the enteries
        made herein. The Awarding committee of the University can take any action against me if
        any of the entry in the application is found wrong and fake.
      </p>
      <mat-checkbox color="primary"></mat-checkbox>
    </div>
</div>
  