<div class="form-content">
  <p class="form-heading">Documents</p>
  <ul>
    <li class="file-upload-text">
      Upload scanned pdf files of following Documents:
    </li>
    <li class="file-upload-text">
      a&#41; Mark Certificate(s) of all engineering examinations/ S.Sc & H.Sc/
      B.Sc marks Certificate for student of first year engineering.
    </li>
    <li class="file-upload-text">
      b&#41; i&#41; Salary certificate of father (if employed)
    </li>
    <li class="file-upload-text">
      b&#41; ii&#41; Updated Pension Book (if retired)
    </li>
    <li class="file-upload-text">
      b&#41; iii&#41; Affidavit of Income Verification (if business owner)
    </li>
    <li>c&#41; University ID Card</li>
  </ul>
  <div class="file-uploader" dragAndDrop (onFileDropped)="selectFile($event)">
    <div *ngIf="selectedFiles.length == 0" class="file-uploader__instructions">
      Drag and drop the file(s) here or click on "Browse Files".
    </div>
    <div class="files-for-upload">
      <ng-container *ngIf="selectedFiles.length > 0">
        <div
          class="file-item"
          *ngFor="let item of selectedFiles; let i = index"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <h3>
            {{ item.name }}
          </h3>
          <div class="btn-container">
            <button mat-icon-button (click)="cancelSelected(i)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="file-upload__options">
      <input
        accept="application/pdf"
        multiple
        type="file"
        #fileSelector
        (change)="selectFile($event)"
        hidden
      />
      <button
        mat-button
        matRipple
        class="file-upload__browse"
        (click)="openFileSelector()"
      >
        Browse Files
      </button>
      <ng-container *ngIf="selectedFiles.length > 0">
        <button
          mat-button
          matRipple
          class="all_file__upload primary-button"
          matTooltip="Upload"
          matTooltipPosition="above"
          aria-label="Upload"
          (click)="upload()"
        >
          <mat-icon aria-hidden="true">file_upload</mat-icon>
        </button>
        <button
          mat-button
          matRipple
          class="all_file__cancel"
          matTooltip="Cancel"
          matTooltipPosition="above"
          aria-label="Cancel"
          (click)="cancel()"
        >
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>

  <div class="buttons-div">
    <div class="next-btn">
      <button (click)="prevPage()" class="green-btn" mat-button>Back</button>
    </div>
    <div class="next-btn">
      <button (click)="nextPage()" class="green-btn" mat-button>Next</button>
    </div>
  </div>
</div>
