@import "../profile-completion.page.scss";

.file-upload-text{
    font-size: 16px;
}
.font-weight-500{
    font-weight: 500;
}
::ng-deep .mat-checkbox-layout {
    background-color: #1bb55e;
}
input {
    margin-top: 1rem;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}
.file-uploader{
    background-color: #fff;
    border: 2px dashed #1bb55e;
    padding: 3rem;
    // @include media-breakpoint-down(lg) {
    //     padding: 2rem;
    // }
    // @include media-breakpoint-down(sm) {
    //     padding: 1rem;
    // }
    .files-for-upload{
        margin-bottom: 3rem;
        .selected-file{
            border-radius: 0;
            font-family: 'Roboto', sans-serif;
            &:not(:last-of-type){
                margin-bottom: 1rem;
            }
            .mat-expansion-panel-header{
                cursor: default;
                height: auto;
                padding: 0;
                &[aria-disabled=true]{
                    color: inherit;
                }
                .selected-file__header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .selected-file__name{
                        color: #1bb55e;
                        overflow: hidden;
                        padding: 0 1.5rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .selected-file__actions{
                        display: flex;
                        justify-content: flex-end;
                        button{
                            display: flex;
                            align-items: center;
                            min-width: 0;
                            padding: 0 15px;
                        }
                    }
                }
                &.mat-expanded{
                    .selected-file__header{
                        border-bottom: solid 1px #1bb55e;
                    }
                }
                .mat-content{
                    display: block;
                }

            }
            .mat-expansion-panel-body{
                padding-top: 1rem;
                .selected-file__upload--error{
                    color: red;
                }
            }
        }
    }
    .file-uploader__instructions{
        color: #1bb55e;
        margin-bottom: 3rem;
        padding: 0 1rem;
        text-align: center;
        // @include media-breakpoint-down(lg) {
        //     margin-bottom: 2rem;
        // }
        // @include media-breakpoint-down(sm) {
        //     margin-bottom: 1rem;
        // }
    }
    .file-upload__options{
        display: flex;
        justify-content: center;
        button{
            background-color: #1bb55e;
            color: #fff;
            font-size: 16;
            &.all_file__upload, &.all_file__cancel{
                display: flex;
                align-items: center;
                border-left: 2px solid #1bb55e;
                min-width: 0;
                padding: 0 15px;
            }
        }
        .file-upload__native-selection{
            display: none;
        }
    }
}
