@import "../profile-completion.page.scss";

input {
  margin-top: 1rem;
}

.file-uploader {
  background-color: #fff;
  border: 2px dashed #1bb55e;
  padding: 3rem;
  .files-for-upload {
    margin-bottom: 3rem;
    .file-item {
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.73);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      margin: 16px 0;

      .file-content {
        align-items: center;
        display: flex;
        mat-icon {
          margin: 0 16px;
        }

        h3 {
          font-weight: 500;
          color: #1bb55e;
        }

        .btn-container {
          display: flex;
          flex: 1;
          justify-content: end;
          margin-right: 16px;
        }
      }
    }
  }
  .file-uploader__instructions {
    color: #1bb55e;
    margin-bottom: 3rem;
    padding: 0 1rem;
    text-align: center;
  }
  .file-upload__options {
    display: flex;
    justify-content: center;
    button {
      background-color: #1bb55e;
      color: #fff;
      font-size: 16;
      &.all_file__upload,
      &.all_file__cancel {
        display: flex;
        align-items: center;
        border-left: 2px solid #1bb55e;
        min-width: 0;
        padding: 0 15px;
        margin-left: 6px;
      }
    }
    .file-upload__native-selection {
      display: none;
    }
  }
}

.progress-bar {
  --mdc-linear-progress-active-indicator-color: #1bb55e;
}
