<div class="form-content">
  <p class="form-heading">Documents</p>
  <p class="file-upload-heading">
    Upload scanned pdf files of following Documents:
  </p>
  <ul>
    <li class="file-upload-text">
      a&#41; Mark Certificate(s) of all engineering examinations/ S.Sc & H.Sc/
      B.Sc marks Certificate for student of first year engineering.
    </li>
    <li class="file-upload-text"> 
      b&#41;Evidence of Income:
    </li>
    <ul>
      <li class="file-upload-text">
        i&#41; Salary certificate of father (if employed)
      </li>
      <li class="file-upload-text">
        ii&#41; Updated Pension Book (if retired)
      </li>
      <li class="file-upload-text">
        iii&#41; Affidavit of Income Verification (if business owner)
      </li>
    </ul>
    <li>c&#41; University ID Card</li>
  </ul>
  <div class="file-uploader" dragAndDrop (onFileDropped)="selectFile($event)">
    <div *ngIf="selectedFiles.length == 0" class="file-uploader__instructions">
      Click on "Browse Files" to submit the required documents.
    </div>
    <div class="files-for-upload">
      <ng-container *ngIf="selectedFiles.length > 0">
        <div
          class="file-item"
          *ngFor="let item of selectedFiles; let i = index"
        >
          <div class="file-content">
            <mat-icon>insert_drive_file</mat-icon>
            <h3>
              {{ item.name }}
            </h3>
            <div class="btn-container">
              <button mat-icon-button (click)="cancelSelected(i)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
          <mat-progress-bar
            class="progress-bar"
            *ngIf="item.progress"
            mode="indeterminate"
          ></mat-progress-bar>
        </div>
      </ng-container>
      <ng-container *ngIf="uploadedFiles.length > 0">
        <div
          class="file-item"
          *ngFor="let item of uploadedFiles; let i = index"
        >
          <div class="file-content">
            <mat-icon>insert_drive_file</mat-icon>
            <h3>
              {{ item.file_name }}
            </h3>
            <div class="btn-container">
              <button mat-icon-button (click)="deleteSelected(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="file-upload__options">
      <input
        accept="application/pdf"
        multiple
        type="file"
        #fileSelector
        (change)="selectFile($event)"
        hidden
      />
      <button
        mat-button
        matRipple
        class="file-upload__browse"
        (click)="openFileSelector()"
      >
        Browse Files
      </button>
      <ng-container *ngIf="selectedFiles.length > 0">
        <button
          mat-button
          matRipple
          class="all_file__upload primary-button"
          matTooltip="Upload"
          matTooltipPosition="above"
          aria-label="Upload"
          (click)="upload()"
          [disabled]="selectedFiles.length == 0"
          [ngClass]="selectedFiles.length == 0 ? 'disabled' : ''"
        >
          <mat-icon aria-hidden="true">file_upload</mat-icon>
        </button>
        <button
          mat-button
          matRipple
          class="all_file__cancel"
          matTooltip="Cancel"
          matTooltipPosition="above"
          aria-label="Cancel"
          [disabled]="selectedFiles.length == 0"
          [ngClass]="selectedFiles.length == 0 ? 'disabled' : ''"
          (click)="cancel()"
        >
          <mat-icon aria-hidden="true">clear</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>

  <div class="buttons-div">
    <div class="next-btn">
      <button (click)="prevPage()" class="green-btn" mat-button>Back</button>
    </div>
    <div class="next-btn">
      <button
        (click)="nextPage()"
        [disabled]="uploadedFiles.length === 0"
        class="green-btn"
        [ngClass]="uploadedFiles.length === 0 ? 'disabled' : ''"
        mat-button
      >
        Next
      </button>
    </div>
  </div>
</div>
