<div class="form-content">
  <p class="form-heading">List of All Registered Students</p>
  <mat-grid-list cols="1" rowHeight="8:1">
    <div class="header-row">
      <div class="header-col">
        <p>Roll No.</p>
      </div>
      <div class="header-col">
        <p>Name</p>
      </div>
      <div class="header-col">
        <p>Guardian Name<p>
      </div>
      <div class="header-col">
        <p>Batch</p>
      </div>
      <div class="header-col">
        <p>Email</p>
      </div>
      <div class="header-col">
        <p>Scholarship Status</p>
      </div>
    </div>
    <div
      *ngFor="let item of all_students_list; let i = index"
      class="content-row"
    >
      <ng-container>
        <div class="content-col">
          <p>{{ i + 1 }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.roll_no }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.name }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.guardian_name }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.email }}</p>
        </div>
        <div class="content-col">
          <p>{{ item.scholarship_status}}</p>
        </div>
      </ng-container>
    </div>
  </mat-grid-list>
</div>

