<ng-container *ngIf="isLoggedIn">
  <toolbar [sidenav]="sidenav"></toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav
      class="box-shadow margin-top-150"
      (mouseenter)="toggleMenu()"
      (mouseleave)="toggleMenu()"
      #sidenav
      mode="side"
      opened="true"
    >
      <side-nav [isExpanded]="isExpanded"></side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-container margin-top-150">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<router-outlet *ngIf="!isLoggedIn"></router-outlet>
