<ng-container *ngIf="isPages">
  <toolbar></toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav
      class="box-shadow margin-top-150"
      (mouseenter)="toggleMenu()"
      (mouseleave)="toggleMenu()"
      #sidenav
      mode="side"
      opened="true"
    >
      <side-nav [isExpanded]="isExpanded"></side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-container margin-top-150">
        <router-outlet>
          <screen-loader *ngIf="isLoading"></screen-loader>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="isHome">
  <toolbar
    [btnText]="'Jump to Portal'"
    [showProfileIcon]="false"
    (btnClicked)="goToAuth()"
  ></toolbar>
  <div class="content-container">
    <router-outlet
      ><screen-loader *ngIf="isLoading"></screen-loader
    ></router-outlet>
  </div>
</ng-container>

<router-outlet *ngIf="isAuthenticationPage"
  ><screen-loader *ngIf="isLoading"></screen-loader
></router-outlet>
