.steps-div {
  display: flex;
  align-items: center;
  justify-content: center;
  .step-btn {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 215px;
    cursor: pointer;
  }

  .step-btn-active {
    background: #1bb55e;
    color: #fff;
  }
}

.content {
  margin-top: 24px;
}

.form-content {
  background: #fff;
  padding: 24px 62px;
}

.form-heading,
.form-subheading {
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
  margin-bottom: 36px;
}

.form-subheading {
  font-size: 16px;
}

.form-field {
  width: 100%;
  margin: 0 16px;
}

.next-btn, .submit-btn {
  padding: 0 16px;
  display: flex;
  justify-content: end;

  button {
    height: 36px;
    width: 76px;
  }
}

.buttons-div {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px !important;
}


.add-btn-div {
  display: flex;
  justify-content: end;
  margin: 16px 0;

  button {
    background: #1bb55e;
    color: #fff;
  }
}

.header-row {
  display: flex;
  background: #1bb55e;
  color: #fff;
  font-weight: 500;
  padding: 16px;
  font-size: 18px;

  .header-col {
    width: calc(100% / 6);
    display: flex;
    justify-content: center;

    p {
      margin: 0 !important;
    }
  }
}

.content-row {
  display: flex;
  color: #000;
  font-weight: 500;
  padding: 16px;
  font-size: 14px;

  .content-col {
    display: flex;
    justify-content: center;
    width: calc(100% / 6);

    mat-form-field {
      width: 100%;
      margin: 0px 12px;
    }
  }
}
