<div class="steps-div">
  <button
    (click)="changeTab(1)"
    class="step-btn"
    [class.step-btn-active]="selectedTab == 1"
    mat-button
  >
    1-Particulars of Applicant
  </button>
  <button
    (click)="changeTab(2)"
    class="step-btn"
    [class.step-btn-active]="selectedTab == 2"
    mat-button
  >
    2-Guardian info
  </button>
  <button
    (click)="changeTab(3)"
    class="step-btn"
    [class.step-btn-active]="selectedTab == 3"
    mat-button
  >
    3-Academic Record
  </button>
  <button
    (click)="changeTab(4)"
    class="step-btn"
    [class.step-btn-active]="selectedTab == 4"
    mat-button
  >
    4-Documents
  </button>
  <button
    (click)="changeTab(5)"
    class="step-btn"
    [class.step-btn-active]="selectedTab == 5"
    mat-button
  >
    5-Verify
  </button>
</div>

<div class="content">
  <ng-container *ngIf="selectedTab == 1">
    <app-first-form-page
      (next)="next()"
      [firstFormGroup]="firstForm"
    ></app-first-form-page>
  </ng-container>

  <ng-container *ngIf="selectedTab == 2">
    <app-second-form-page></app-second-form-page>
  </ng-container>
  <ng-container *ngIf="selectedTab == 3">
    <app-third-form-page></app-third-form-page>
  </ng-container>
  <ng-container *ngIf="selectedTab == 4">
    <app-fourth-form-page></app-fourth-form-page>
  </ng-container>
  <ng-container *ngIf="selectedTab == 5">
    <app-verify></app-verify>
  </ng-container>
</div>
