<div class="about">
    <div class="image">
        <a href="https://www.neduet.edu.pk/" >
        <img src="assets/images/NEDUET_logo.png" alt="NEDUET">
</a>
</div>
    <div class="contact">
        <h5>Contact US</h5>
        <p>+92-3344763874</p>
        <p class="Contact-email">admin @cloud.neduet.edu.pk</p>
</div>
    <div class="scholarship">
        <h5>Scholarship</h5>
        <a href="#!">
            <p>Need Based</p>
        </a>
        <a href="#!">
            <p>Mertit Based</p> 
        </a>
</div>
    <div class="partner">           
         <h5>Partners</h5>
        <p>Mr Xyz</p>
        <p>Mr Qyz</p>
</div>
    <div class="Made-by">
        <h5>Made By</h5>
        <p>Team MarkUp001</p>
</div>
</div>