<div class="about">
  <div class="image">
    <a href="https://www.neduet.edu.pk/">
      <img src="assets/images/NEDUET_logo.png" alt="NEDUET" />
    </a>
  </div>
  <div class="contact">
    <h5>Contact US</h5>
    <p>+(92-21) 99261261-8</p>
    <p class="Contact-email">admin@cloud.neduet.edu.pk</p>
  </div>
  <div class="partner">
    <h5>Partners</h5>
    <p>Syed Muhammad Shees Ali</p>
    <p>Muhammad Huzaifa Qureshi</p>
  </div>
  <div class="Made-by">
    <h5>Made By</h5>
    <p>Team MarkUp001</p>
  </div>
</div>
