<div class="submit-page">
  <p class="heading-name">Submit</p>

  <div class="form-field">
    <p class="input-label">Cover Letter:</p>
    <angular-editor
      [(ngModel)]="cover_letter"
      [config]="editorConfig"
    ></angular-editor>
  </div>

  <ng-container *ngIf="scholarship?.have_extra">
    <div *ngFor="let item of extrafeilds" class="form-field">
      <p class="input-label">{{item.name}}</p>
      <angular-editor
        [(ngModel)]="item.value"
        [config]="editorConfig"
      ></angular-editor>
    </div>
  </ng-container>

  <p class="heading-name">Verify Info</p>

  <app-verify [isComponent]="true"></app-verify>

  <div class="submit-box">
    <mat-checkbox
      [(ngModel)]="acknowledgment"
      labelPosition="after"
      color="primary"
    >
      Please Acknowledge that you cannot apply to the same scholarship twice.
    </mat-checkbox>

    <button
      class="green-btn"
      [disabled]="!canApply"
      mat-button
      [ngClass]="!canApply ? 'disabled' : ''"
      n
      (click)="submit()"
    >
      Submit Application
    </button>
  </div>
</div>
