@import "/src/app/pages/student/profile-completion/profile-completion.page.scss";

.content {
  background: #fff;
  padding: 24px 62px;
  .content-col {
    width: calc(100% / 5) !important;
  }
  .header-col {
    width: calc(100% / 5) !important;
  }
  .archive-btn{
    padding: 0 16px;
    display: flex;
    justify-content: end;
    button{
      color: #F44336;
    }
  }
}

.m-table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  .m-header-col {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #1bb55e;
    border-bottom: 0.75px solid rgba(#000, 0.38);
    font-weight: 500;
    padding: 16px;
    font-size: 18px;
  
    .m-header-row {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: start;
      align-items: center;
  
      p {
        text-align: start;
        margin: 0 !important;
      }
    }
  }
  .m-content-col {
    display: flex;
    flex-direction: column;
    border-bottom: 0.75px solid rgba(#000, 0.38);
    color: #000;
    font-weight: 500;
    padding: 16px;
    font-size: 14px;
  
    .m-content-row {
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      button{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .content{
    padding: 24px 16px;
  }
  .m-table{
    .m-header-col{
      font-size: 16px;
      padding: 10px;
    }
    .m-content-col{
      font-size: 12px;
      padding: 10px;
      .m-content-row > button{
        font-size: 12px;
      }
    }
  }
  .content > .archive-btn{
    justify-content: center;
  }
}
@media only screen and (max-width: 420px) {
  .content{
    padding: 24px 12px;
  }
}