<mat-toolbar class="toolbar">
  <div class="left-side">
    <img src="assets/images/NEDUET_logo.png" alt="NED LOGO" />
    <span class="main-heading"
      >NED University of Engineering and Technology
    </span>
  </div>
  <div class="right-side">
    <button
      *ngIf="btnText !== ''"
      (click)="btnClicked.emit()"
      class="btn-text"
      mat-button
    >
      {{ btnText }}
    </button>
    <button
      *ngIf="showProfileIcon"
      mat-icon-button
      class="example-icon favorite-icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="hamburger-menu" (click)="showmenu()">
      <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
