<mat-toolbar class="toolbar">
  <div class="left-side">
    <img src="assets/images/NEDUET_logo.png" alt="NED LOGO" />
    <span class="main-heading">NED UNIVERSITY PAKISTAN</span>
  </div>
  <!-- <span class="example-spacer"></span> -->

  <button (click)="btnClicked.emit()" class="btn-text" mat-button>
    {{ btnText }}
  </button>
  <button
    *ngIf="showProfileIcon"
    mat-icon-button
    class="example-icon favorite-icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
