
.card {
  height: fit-content;
  background: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: calc(100% - 50px);
  align-items: start;
  flex-direction: column;
  overflow-x: auto;
  padding: 0 25px;

  .my-application-list{
    align-self: center;
  }
  .card-title {
    width: 95%;
    margin-left: 20px;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #000;
    border-bottom: 0.75px solid rgba(#000, 0.40);
    padding-bottom: 12px !important;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

