<div class="dashboard">
  <div class="margin-bottom-20">
    <top-banner></top-banner>
  </div>

  <div class="card margin-bottom-20">
    <p class="card-title">My Application Status</p>
    <!-- <div class="my-application-list"> -->
    <my-applications-list class="my-application-list"></my-applications-list>
    <!-- </div> -->
  </div>

  <div class="card margin-bottom-20">
    <p class="card-title">
      Apply Now
      <button mat-button>See All</button>
    </p>

    <div *ngIf="scholarshipList.length > 0" class="scholarship-listing">
      <ng-container *ngFor="let scholarship of scholarshipList">
        <scholarship-card [scholarship]="scholarship"></scholarship-card>
      </ng-container>
    </div>
    <!-- <div class="scholarship-listing">
      <scholarship-card></scholarship-card>
      <scholarship-card></scholarship-card>
      <scholarship-card></scholarship-card>
    </div> -->
  </div>
</div>
