<div class="dashboard">
  <div class="margin-bottom-20">
    <top-banner></top-banner>
  </div>

  <div class="card margin-bottom-20">
    <p class="card-title">My Application Status</p>
    <!-- <div class="my-application-list"> -->
      <my-applications-list class="my-application-list"></my-applications-list>
    <!-- </div> -->
  </div>

  <div class="card margin-bottom-20">
    <p class="card-title">Apply Now</p>

    <div class="scholarship-listing">
      <scholarship-card></scholarship-card>
      <scholarship-card></scholarship-card>
      <scholarship-card></scholarship-card>
    </div>
  </div>
</div>
