
<div class="Fflex">
  <h4 class="heading-text">FREQUENTLY ASKED QUESTIONS</h4>
</div>
<div class="faq-grid">
    <div *ngFor="let data of faqdata"
        class="flip-card">
        <div class="flip-card-inner"
        [ngClass]="data.green? 'Faqs' : 'Faqs-W'">
          <div class="flip-card-front"
          >
            <p class= "FAQs-text"> {{data.question}} </p>
          </div>
          <div class="flip-card-back">
            <p class= "FAQs-text"> {{data.answer}} </p>
          </div>
        </div>
    </div>
</div>