.Fflex {
  display: flex;
  justify-content: center;
  .heading-text {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
  }
}

.Faq-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}
.flip-card {
  display: inline-block;
  margin-right: 16px;
  width: calc(50% - 30px);
  margin-bottom: 16px;
}
.Faqs,
.Faqs-W {
  height: 36vh;
  width: 100%;

  .FAQs-text {
    margin: 16px;
    text-align: center;
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 1.2rem;
  }
}
.Faqs {
  background-color: #1bb55e;
  color: #ffffff;
  .flip-card-front {
    width: 100%;
    height: 100%;
    .FAQs-text {
      margin-top: 25%;
    }
  }
  .flip-card-back {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #1bb55e;
    transform: rotateY(180deg);
  }
}

.Faqs-W {
  background-color: #ffffff;
  color: #1bb55e;
  .flip-card-front {
    width: 100%;
    height: 100%;
    .FAQs-text {
      margin-top: 25%;
    }
  }
  .flip-card-back {
    width: 100%;
    height: 100%;
    background-color: #1bb55e;
    color: white;
    transform: rotateY(180deg);
  }
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (max-width: 430px) {
  .flip-card {
    margin-right: 0px;
    .FAQs-text {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 850px) {
  .flip-card {
    display: block;
    width: 100%;
    .FAQs-text {
      font-size: 1rem;
    }
  }
}
