
<div class="Fflex">
  <div class="heading-text">

<h4 class="FAQ-heading">FREQUENTLY ASKED QUESTIONS</h4>
  </div>
</div>

<div class="Faq-grid">

 


  <div class="Faqs-W">
    
    <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
      </div>

  <div class="Faqs">
    
    <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
    
  </div>

  <div class="Faqs">
    <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
      </div>

  <div class="Faqs-W">
    
    <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
    
  </div>
  <div class="Faqs-W">
      <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
      </div>

  <div class="Faqs">
    
    <p class= "FAQs-text">Can I apply to more than one Scholarship at a time?</p>
      </div>
</div>
<div>