<div class="content">
  <div class="table">
    <div *ngIf="currentScreenSize != 'Small'">
      <div class="header-row">
        <div class="header-col">
          <p>Donor Name</p>
        </div>
        <div class="header-col">
          <p>CNIC</p>
        </div>
        <div class="header-col">
          <p>Phone Number</p>
          <p></p>
        </div>
        <div class="header-col">
          <p>View</p>
        </div>
        <div class="header-col">
          <p>Approve</p>
        </div>
      </div>
      <div class="content-row">
        <ng-container *ngFor="let item of donorsList; let i = index">
          <div class="content-col">
            <p>{{item.name}}</p>
          </div>
          <div class="content-col">
            <p>{{item.cnic}}</p>
          </div>
          <div class="content-col">
            <p>{{'+92'+ item.phone_number}}</p>
          </div>
          <div class="content-col">
            <button mat-button (click)="toview(item)">View</button>
          </div>
          <div class="content-col">
            <button
              [disabled]="item.status == 'approved'"
              mat-button
              (click)="approve(item)"
            >
              Approve
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- For Mobile -->
    <div *ngIf="currentScreenSize == 'Small'">
      <div class="m-table">
        <div class="m-header-col">
          <div class="m-header-row">
            <p>Donor Name</p>
          </div>
          <div class="m-header-row">
            <p>CNIC</p>
          </div>
          <div class="m-header-row">
            <p>Phone Number</p>
            <p></p>
          </div>
          <div class="m-header-row">
            <p>View</p>
          </div>
          <div class="m-header-row">
            <p>Approve</p>
          </div>
        </div>
        <div
          *ngFor="let item of donorsList; let i = index"
          class="m-content-col"
        >
          <div class="m-content-row">
            <p>{{item.name}}</p>
          </div>
          <div class="m-content-row">
            <p>{{item.cnic}}</p>
          </div>
          <div class="m-content-row">
            <p>{{'+92'+ item.phone_number}}</p>
          </div>
          <div class="m-content-row">
            <button color="secondary" mat-button (click)="toview(item)">
              View
            </button>
          </div>
          <div class="m-content-row">
            <button
              [disabled]="item.status == 'approved'"
              mat-button
              (click)="approve(item)"
            >
              Approve
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
