<div *ngIf="currentScreenSize != 'Small'">
  <div class="header-row">
    <div class="header-col">
      <p>S.no</p>
    </div>
    <div class="header-col">
      <p>Application ID</p>
    </div>
    <div class="header-col">
      <p>Submission Date</p>
    </div>
    <div class="header-col">
      <p>Application Status</p>
    </div>
    <div class="header-col">
      <p>View</p>
    </div>
  </div>
  <div
    *ngFor="let item of application_list; let i = index"
    class="content-row"
  >
    <ng-container>
      <div class="content-col">
        <p>{{ i+1 }}</p>
      </div>
      <div class="content-col">
        <p>{{ item.scholarship_id }}</p>
      </div>
      <div class="content-col">
        <p>{{ item.submitted_date }}</p>
      </div>
      <div class="content-col">
        <p class="highlight">{{ item.status }}</p>
      </div>
      <div class="content-col">
        <button mat-button (click)="toApplication(item)">View</button>
      </div>  
    </ng-container>
  </div>
</div>
<!-- For Mobile -->
<!-- For Mobile -->
<!-- For Mobile -->
<div *ngIf="currentScreenSize == 'Small'">
  <div
    *ngFor="let item of application_list; let i = index"
    class="table"
  >
    <div class="m-header-col">
      <div class="m-header-row">
        <p>S.no</p>
      </div>
      <div class="m-header-row">
        <p>Application ID</p>
      </div>
      <div class="m-header-row">
        <p>Submission Date</p>
      </div>
      <div class="m-header-row">
        <p>Application Status</p>
      </div>
      <div class="m-header-row">
        <p>View</p>
      </div>
    </div>
    <div class="m-content-col">
      <ng-container>
        <div class="m-content-row">
          <p>{{ i+1 }}</p>
        </div>
        <div class="m-content-row">
          <p>{{ item.scholarship_id }}</p>
        </div>
        <div class="m-content-row">
          <p>{{ item.submitted_date }}</p>
        </div>
        <div class="m-content-row">
          <p class="highlight">{{ item.status }}</p>
        </div>
        <div class="m-content-row">
          <button mat-button (click)="toApplication(item)">View</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
