@import "app/theme/global.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Fira Sans", "Helvetica Neue", sans-serif;
  background: #f5f9fc;
}

mat-sidenav[style] {
  visibility: visible !important;
}
.mat-drawer {
  transform: none !important;
}

.profile-icon {
  .mat-grid-tile-content {
    justify-content: start !important;
    padding-left: 16px;
  }
}

.mdc-floating-label--required:not(
    .mdc-floating-label--hide-required-marker
  )::after {
  color: #ff0000;
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #ff0000;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
