<app-image-carousel></app-image-carousel>

<h1>SCHOLARSHIPS</h1>

<div class="grid">
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
  <br />
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
  <br />
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
  <br />
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
  <br />
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
  <br />
  <div class="item">
    <div class="card" style="height: 10rem">
      <h5 class="scholarship-detail">ABC Scholarship</h5>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi quasi
        illum harum dignissimos libero dicta error, aspernatur facilis sint
        quibusdam.
      </p>
      <a href="#!">
        <button class="cta">
          <i class="fas fa-plus"></i>
          <span class="button-text"> Read More -> </span>
        </button>
      </a>
    </div>
  </div>
</div>
<hr />
<app-faq-page></app-faq-page>
<hr />
<app-feedback></app-feedback>

<footer>
  <app-about-footer></app-about-footer>
</footer>
