<app-image-carousel></app-image-carousel>

<div class="container">
  <div class="header">
    <p class="heading">Scholarships</p>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search scholarship </mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" />
      <button
        *ngIf="searchTerm"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchTerm=''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <p>
      <span class="filters-text"> Filters </span>
      <mat-radio-group color="primary" [(ngModel)]="filter">
        <mat-radio-button value="need_based">Need Based</mat-radio-button>
        <mat-radio-button value="merit_based">Merit Based</mat-radio-button>
      </mat-radio-group>
    </p>

    <div *ngIf="scholarshipList.length > 0 " style="width: 100%">
      <!-- <div > -->
      <div
        class="scholarship-card"
        *ngFor="let scholarship of scholarshipList | filter:searchTerm"
      >
        <div class="scholarship-content">
          <p class="scholarship-name">{{ scholarship.name }}</p>
          <p class="sponser">
            <span class="sub-text"> Sponsered By :</span>
            {{ scholarship?.sponsor_name }}
          </p>
        </div>
        <button mat-button class="apply-now-btn">Apply Now -></button>

        <!-- </div> -->
      </div>

      <mat-paginator
        style="background-color: #f5f9fc"
        [length]="scholarshipsCount"
        [pageSize]="limit"
        [pageSizeOptions]="[4, 6, 8, 10]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
  <app-faq-page></app-faq-page>
  <app-feedback></app-feedback>
</div>
<app-chat-widget></app-chat-widget>
<footer>
  <app-about-footer></app-about-footer>
</footer>
