<img src="assets/images/LoginPage-Background.jpg" class="background-image" />

<div class="mainbox">
    <!-- <mat-card> -->
        <mat-grid-list cols="2" rowHeight="70vh">
            <mat-grid-tile>
                <div class="login-card">
                    <p class="login-title">Sign In</p>
                    <p class="login-subtitle">NED University’s Scholarship Portal</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Email<span style="color:red">*</span></mat-label>
                        <input matInput placeholder="Enter Email">
                        <mat-hint>Enter your Cloud Email address</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password<span style="color:red">*</span></mat-label>
                        <input matInput placeholder="Enter Password">
                        <mat-hint>Enter Password</mat-hint>
                    </mat-form-field>
                    <p class="login-text">Forgot Password?</p>
                    <button class="signin-btn" mat-raised-button (click)="navigate()">
                        Sign In
                    </button>
                    <caption class="ineed-help">Need help?<a> Go to online help </a></caption>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="signup-card">
                    <p class="signup-title">Sign In</p>
                    <p class="signup-subtitle">NED University’s Scholarship Portal</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    <!-- </mat-card> -->
</div>
